.vscode/
*.code-workspace

build/*
dist
*.exe

pdfs
large_pdfs
*.csv
*.json
!ipypdf/menu.json

# Python
__pycache__
Untitled.*
*.egg-info
.ipynb_checkpoints
.coverage
junit.xml


# Environment
env/
envs/
.venv

# doit logs
.doit.db.*