.vscode/
*.code-workspace

build/*
dist
*.exe
widgetron_temp_files
recipes/*/*.tar

pdfs
large_pdfs
*.csv
!ipypdf/menu.json

# Python
__pycache__
Untitled.*
*.egg-info
.ipynb_checkpoints
.coverage
.pytest_cache
junit.xml


# Environment
env/
.envs/
.venv

# doit logs
.doit.db.*
logs/