.ipypdf-main-app {
	/* border: 1px solid #00ff55; */
	height: 1000px;
}
.ipypdf-pdf-canvas {
	border: 1px solid #000000;
}
.ipypdf-doc-tree {
	direction: ltr;
	overflow: visible;
	padding: 5px;
	width: 90%;
	height: 90%;
}
.ipypdf-doc-tree-outter {
	/* border: 1px solid #ff0000; */
	width: 300px;
	height: 100%;
	overflow: scroll;
	direction: rtl;
	align-items: center;
}
.ipypdf-node-control-box {
	border: 1px solid #000000;
}
.ipypdf-small-btn {
	width: 40px;
}
.ipypdf-red {
	color:darkred;
}
.ipypdf-code-block {
    font-family: Monaco, monospace;
    font-size: $base-font-size;
    line-height: 100%;
    background-color: #eee;
    padding: 0.2em;
    letter-spacing: -0.05em;
    word-break: normal;
}